@model Domain.Entidade.Pessoa;
<!--inicio content-->
<main class="page-content">

    <div class="profile-cover bg-dark"></div>

    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h5 class="mb-0">Seu perfil</h5>
                    <hr>
                    <div class="card shadow-none border">
                        <div class="card-header">
                            <h6 class="mb-0">INFORMAÇÃO DO USUÁRIO</h6>
                        </div>
                        <div class="card-body">
                            <form asp-action="Editar" method="post" enctype="multipart/form-data" class="row g-3">
                                <div class="col-6">
                                    <label asp-for="Nome" class="form-label">Nome</label>
                                    <input type="text" asp-for="Nome" name="Nome" class="form-control" value="@Model.Nome">
                                </div>
                                <div class="col-6">
                                    <label asp-for="Sobrenome"class="form-label">Sobrenome</label>
                                    <input type="text" asp-for="Sobrenome" name="Sobrenome" class="form-control" value="@Model.Sobrenome">
                                </div>
                                <div class="col-12">
                                    <label asp-for="ImagemUrlPessoa" class="col-sm-12 col-form-label">Foto do perfil:</label>
                                    <div class="col-sm-12">
                                        <input type="file" asp-for="ImagemUrlPessoa" name="ImagemUrlPessoa" class="form-control">
                                    </div>
                                </div>
                                <div class="text-start">
                                    <input type="submit" value="Salvar" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card shadow-sm border-0 overflow-hidden">
                <ul class="list-group list-group-flush">
                    <li>
                        <div class="col py-4 text-center">
                            <a asp-controller="Perfil" asp-action="Excluir" asp-route-id="@Model.Id"><button type="button" class="btn btn-sm btn-danger px-5">Excluir conta</button></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--fim row-->

</main>
<!--fim main-->