 <!--incio conteudo-->
<main class="page-content">

    <div class="profile-cover bg-dark">
        <div class="alert border-0 bg-danger alert-dismissible fade show py-2 mt-5">
            <div class="d-flex align-items-center">
                <div class="fs-3 text-white">
                    <i class="bi bi-x-circle-fill"></i>
                </div>
                <div class="ms-3">
                    <div class="text-white">A remoção da conta é permanente e irreversível. Após a remoção bem-sucedida, você não poderá fazer login com essa atual conta.</div>
                </div>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-8 mx-auto">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h3 class="mb-0 text-center">
                        ATENÇÃO USUÁRIO</h5>
                        <h6 class="my-4 text-center">
                            Antes de realizar o procedimento, você deve saber que <strong>deletar</strong> a conta<br> é <strong>irreversível</strong> e irá <strong>apagar</strong> todas as suas trilhas, informações do perfil e fotos!
                        </h6>
                        <div class="card shadow-none border">
                            <div class="card-header">
                                <h6 class="mb-0 text-center">EXCLUSÃO DE CONTA</h6>
                            </div>
                            <div class="card-body">
                                <form class="row g-3">
                                    <div class="col-6">
                                        <label class="form-label">Informe a sua senha</label>
                                        <input class="form-control " id="senhaAcesso" placeholder="Senha">
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label">Confirme a sua senha</label>
                                        <input class="form-control " id="senhaAcesso" placeholder="Digite novamente a senha">
                                    </div>
                                </form>
                                <div class="text-center mt-4">
                                    <a href=""><button type="button" class="btn btn-danger px-4 w-100">Excluir conta</button></a>
                                    <a href="/feed/index"><button type="button" class="btn btn-outline-secondary px-4 w-100 mt-2">Voltar</button></a>
                                </div>


                            </div>
                        </div>

                </div>
            </div>
        </div>

    </div>
    <!--fim row-->

</main>
<!--fim main-->
