 <!--Inicio conteudo-->
<main class="page-content">

    <div class="profile-cover bg-dark">

        <div class="alert border-0 bg-danger alert-dismissible fade show py-2 mt-5">
            <div class="d-flex align-items-center">
                <div class="fs-3 text-white">
                    <i class="bi bi-x-circle-fill"></i>
                </div>
                <div class="ms-3">
                    <div class="text-white">Atenção: você está preste a deletar uma trilha e todas as suas informações!</div>
                </div>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>

    <div class="row">

        <div class="col-12 col-lg-8 mx-auto">
            <div class=" card shadow-sm border-0 overflow-hidden ">
                <div class="card-body ">
                    <h5 class="mb-0 my-2 text-center">ATENÇÃO: Você desejar deletar essa trilha?</h5>
                    <div class="text-center mt-4">
                        <a href="/feed/index"><button type="button" class="btn btn-outline-secondary px-4 w-100">Voltar</button></a>
                        <a href="#excluir"><button type="button" class="btn btn-danger px-4 w-100  mt-2">Excluir Trilha</button></a>
                    </div>
                    <hr>
                    <div class="profile-avatar text-center mt-4">
                        <img src="https://via.placeholder.com/350x150 " class="shadow w-100 " alt=" ">
                    </div>

                    <div class="text-start mt-4 ">
                        <h4 class="mb-1 ">Nome da trilha</h4>
                        <p class="mb-0 text-secondary "><strong>Teresópolis, RJ</strong></p>
                    </div>
                    <hr>
                    <div class="text-start ">
                        <ul class="list-unstyled ">
                            <li><strong><i class="bi bi-calendar-week-fill text-primary "></i> Data e hora</strong>: 18/09/2021 ás 09:00h</li>
                            <hr>
                            <li><strong><i class="bi bi-hourglass-split text-primary "></i> Duração</strong>: 03h 20 min</li>
                            <hr>
                            <li><strong><i class="bi bi-graph-up text-primary "></i> Grau de difuldade</strong>: Moderado</li>
                            <hr>
                            <li><strong><i class="bi bi-geo-alt-fill text-primary "></i> Ponto de encontro</strong>: Praça XV - Barcas, Centro do Rio</li>
                            <hr>

                        </ul>

                    </div>


                    <div class="text-start ">
                        <h6 class=" ">Maiores Informações</h6>
                        <p class="mb-0 ">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        </p>
                    </div>
                </div>
                <div class="card shadow-none border ">
                    <div class="card-body ">
                        <h6 class=" ">Fotos</h6>
                        <div class="photo-gallery ">
                            <div class="container ">
                                <div class="row photos ">
                                    <div class="col-sm-6 col-md-6 col-lg-6 item ">
                                        <a href="~/assets/img/cover.jpg " data-lightbox="photos "><img class="img-fluid " src="~/assets/img/cover.jpg "></a>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 item ">
                                        <a href="~/assets/img/cover.jpg " data-lightbox="photos "><img class="img-fluid " src="~/assets/img/cover.jpg "></a>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 item ">
                                        <a href="~/assets/img/cover.jpg " data-lightbox="photos "><img class="img-fluid " src="~/assets/img/cover.jpg "></a>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 item ">
                                        <a href="~/assets/img/cover.jpg " data-lightbox="photos "><img class="img-fluid " src="~/assets/img/cover.jpg "></a>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 item ">
                                        <a href="~/assets/img/cover.jpg " data-lightbox="photos "><img class="img-fluid " src="~/assets/img/cover.jpg "></a>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 item ">
                                        <a href="~/assets/img/cover.jpg " data-lightbox="photos "><img class="img-fluid " src="~/assets/img/cover.jpg "></a>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="card shadow-none border ">
                    <div class="card-header ">
                        <h6 class="mb-0 ">Pessoas confirmadas</h6>
                    </div>
                    <div class="card-body ">
                        <div class="d-flex align-items-center flex-wrap ">
                            <a href="06-perfil-externo.html "><img src="https://via.placeholder.com/110X110 " alt=" " class="rounded-circle m-2 " width="54 " height="54 "></a>
                            <a href="06-perfil-externo.html "><img src="https://via.placeholder.com/110X110 " alt=" " class="rounded-circle m-2 " width="54 " height="54 "></a>
                            <a href="06-perfil-externo.html "><img src="https://via.placeholder.com/110X110 " alt=" " class="rounded-circle m-2 " width="54 " height="54 "></a>
                            <a href="06-perfil-externo.html "><img src="https://via.placeholder.com/110X110 " alt=" " class="rounded-circle m-2 " width="54 " height="54 "></a>
                            <a href="06-perfil-externo.html "><img src="https://via.placeholder.com/110X110 " alt=" " class="rounded-circle m-2 " width="54 " height="54 "></a>
                            <a href="06-perfil-externo.html "><img src="https://via.placeholder.com/110X110 " alt=" " class="rounded-circle m-2 " width="54 " height="54 "></a>
                            <a href="06-perfil-externo.html "><img src="https://via.placeholder.com/110X110 " alt=" " class="rounded-circle m-2 " width="54 " height="54 "></a>
                            <a href="06-perfil-externo.html "><img src="https://via.placeholder.com/110X110 " alt=" " class="rounded-circle m-2 " width="54 " height="54 "></a>
                            <a href="06-perfil-externo.html "><img src="https://via.placeholder.com/110X110 " alt=" " class="rounded-circle m-2 " width="54 " height="54 "></a>
                            <a href="06-perfil-externo.html "><img src="https://via.placeholder.com/110X110 " alt=" " class="rounded-circle m-2 " width="54 " height="54 "></a>
                            <a href="06-perfil-externo.html "><img src="https://via.placeholder.com/110X110 " alt=" " class="rounded-circle m-2 " width="54 " height="54 "></a>
                            <a href="06-perfil-externo.html "><img src="https://via.placeholder.com/110X110 " alt=" " class="rounded-circle m-2 " width="54 " height="54 "></a>
                            <a href="06-perfil-externo.html "><img src="https://via.placeholder.com/110X110 " alt=" " class="rounded-circle m-2 " width="54 " height="54 "></a>
                            <a href="06-perfil-externo.html "><img src="https://via.placeholder.com/110X110 " alt=" " class="rounded-circle m-2 " width="54 " height="54 "></a>
                            <a href="06-perfil-externo.html "><img src="https://via.placeholder.com/110X110 " alt=" " class="rounded-circle m-2 " width="54 " height="54 "></a>
                            <a href="06-perfil-externo.html "><img src="https://via.placeholder.com/110X110 " alt=" " class="rounded-circle m-2 " width="54 " height="54 "></a>
                        </div>
                        <p class="text-end mt-3 ">
                            *** O número ideal de pessoas por trilha é até 15 pessoas.
                        </p>

                    </div>
                </div>
                <div class="card shadow-none border ">
                    <div class="card-header ">
                        <h6 class="mb-0 ">EXCLUIR</h6>
                    </div>
                    <div class="card-body ">
                        <div class="text-center my-4 " id="excluir">
                            <h5 class="mb-0 my-2 text-center">Confirma a exclusão da trilha?</h5>
                            <a href="#esse"><button type="button" class="btn btn-danger px-4 w-100  mt-2">Confirmo a exclusão!</button></a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!--fim row-->

</main>
<!--fim main-->