<!--inicio conteudo-->
<main class="page-content">

    <div class="profile-cover bg-dark"></div>

    <div class="row">

        <div class="col-12 col-lg-4">
            <div class="card shadow-sm border-0 overflow-hidden">
                <div class="card-body">
                    <div class="profile-avatar text-center">
                        <img src="https://via.placeholder.com/350x150" class="shadow w-100" alt="">
                    </div>

                    <div class="text-start mt-4">
                        <h4 class="mb-1">Nome da trilha</h4>
                        <p class="mb-0 text-secondary"><strong>Teresópolis, RJ</strong></p>
                    </div>
                    <hr>

                    <div class="text-start">
                        <ul class="list-unstyled">
                            <li><strong><i class="bi bi-calendar-week-fill text-primary"></i> Data e hora</strong>: 18/09/2021 ás 09:00h</li>
                            <hr>
                            <li><strong><i class="bi bi-hourglass-split text-primary"></i> Duração</strong>: 03h 20 min</li>
                            <hr>
                            <li><strong><i class="bi bi-graph-up text-primary"></i> Grau de difuldade</strong>: Moderado</li>
                            <hr>
                            <li><strong><i class="bi bi-geo-alt-fill text-primary"></i> Ponto de encontro</strong>: Praça XV - Barcas, Centro do Rio</li>
                            <hr>
                        </ul>
                    </div>
                    <div class="text-start">
                        <h6 class="">Maiores Informações</h6>
                        <p class="mb-0">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        </p>
                    </div>

                </div>
                <div class="card shadow-none border ">
                    <div class="card-body ">
                        <h6 class="">Fotos</h6>
                        <div class="photo-gallery">
                            <div class="container">
                                <div class="row photos">
                                    <div class="col-sm-6 col-md-6 col-lg-6 item">
                                        <a href="~/assets/img/cover.jpg" data-lightbox="photos"><img class="img-fluid" src="~/assets/img/cover.jpg"></a>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 item">
                                        <a href="~/assets/img/cover.jpg" data-lightbox="photos"><img class="img-fluid" src="~/assets/img/cover.jpg"></a>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 item">
                                        <a href="~/assets/img/cover.jpg" data-lightbox="photos"><img class="img-fluid" src="~/assets/img/cover.jpg"></a>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 item">
                                        <a href="~/assets/img/cover.jpg" data-lightbox="photos"><img class="img-fluid" src="~/assets/img/cover.jpg"></a>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 item">
                                        <a href="~/assets/img/cover.jpg" data-lightbox="photos"><img class="img-fluid" src="~/assets/img/cover.jpg"></a>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 item">
                                        <a href="~/assets/img/cover.jpg" data-lightbox="photos"><img class="img-fluid" src="~/assets/img/cover.jpg"></a>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="card shadow-none border">
                    <div class="card-header">
                        <h6 class="mb-0">Pessoas confirmadas</h6>
                    </div>
                    <div class="card-body">
                        <div class="d-flex align-items-center flex-wrap">
                            <a href="/perfil/perfilexterno"><img src="https://via.placeholder.com/110X110" alt="" class="rounded-circle m-2" width="54" height="54"></a>
                            <a href="/perfil/perfilexterno"><img src="https://via.placeholder.com/110X110" alt="" class="rounded-circle m-2" width="54" height="54"></a>
                            <a href="/perfil/perfilexterno"><img src="https://via.placeholder.com/110X110" alt="" class="rounded-circle m-2" width="54" height="54"></a>
                            <a href="/perfil/perfilexterno"><img src="https://via.placeholder.com/110X110" alt="" class="rounded-circle m-2" width="54" height="54"></a>
                            <a href="/perfil/perfilexterno"><img src="https://via.placeholder.com/110X110" alt="" class="rounded-circle m-2" width="54" height="54"></a>
                            <a href="/perfil/perfilexterno"><img src="https://via.placeholder.com/110X110" alt="" class="rounded-circle m-2" width="54" height="54"></a>
                            <a href="/perfil/perfilexterno"><img src="https://via.placeholder.com/110X110" alt="" class="rounded-circle m-2" width="54" height="54"></a>
                            <a href="/perfil/perfilexterno"><img src="https://via.placeholder.com/110X110" alt="" class="rounded-circle m-2" width="54" height="54"></a>
                            <a href="/perfil/perfilexterno"><img src="https://via.placeholder.com/110X110" alt="" class="rounded-circle m-2" width="54" height="54"></a>
                            <a href="/perfil/perfilexterno"><img src="https://via.placeholder.com/110X110" alt="" class="rounded-circle m-2" width="54" height="54"></a>
                            <a href="/perfil/perfilexterno"><img src="https://via.placeholder.com/110X110" alt="" class="rounded-circle m-2" width="54" height="54"></a>
                            <a href="/perfil/perfilexterno"><img src="https://via.placeholder.com/110X110" alt="" class="rounded-circle m-2" width="54" height="54"></a>
                            <a href="/perfil/perfilexterno"><img src="https://via.placeholder.com/110X110" alt="" class="rounded-circle m-2" width="54" height="54"></a>
                            <a href="/perfil/perfilexterno"><img src="https://via.placeholder.com/110X110" alt="" class="rounded-circle m-2" width="54" height="54"></a>
                            <a href="/perfil/perfilexterno"><img src="https://via.placeholder.com/110X110" alt="" class="rounded-circle m-2" width="54" height="54"></a>
                            <a href="/perfil/perfilexterno"><img src="https://via.placeholder.com/110X110" alt="" class="rounded-circle m-2" width="54" height="54"></a>
                        </div>
                        <p class="text-end mt-3">
                            *** O número ideal de pessoas por trilha é até 15 pessoas.
                        </p>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-8">
            <div class="card radius-10 w-100 overflow-hidden">
                <div class="card-body">

                    <div class="commentFull d-flex justify-content-between py-4">
                        <!-- Comentario Imagem -->
                        <a href="#">
                            <div class="commentImage d-flex align-items-center mt-3" style="margin-right: 10px;">
                                <img src="https://via.placeholder.com/110X110" alt="" class="rounded-circle" width="54" height="54">
                            </div>
                        </a>
                        <!-- Comentario Texto-->
                        <div class="w-100">
                            <form>
                                <div class="mb-3">
                                    <label for="" class="form-label"></label>
                                    <textarea class="form-control radius-10" placeholder="O que você está pensando..."></textarea>

                                </div>

                                <div class="mb-3">
                                    <label for="postFoto" class="col-sm-12 col-form-label">Imagem do post:</label>
                                    <div class="col-sm-12">
                                        <input type="file" class="form-control" id="postFoto">
                                    </div>
                                </div>
                            </form>
                            <div class="buttomComment d-flex justify-content-end ">
                                <button class="btn btn-primary" type="submit">Publicar post</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card radius-10 w-100 overflow-hidden">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="d-flex align-items-center">
                            <img src="https://via.placeholder.com/110X110" alt="" class="rounded-circle" width="54" height="54">
                            <div class="ms-3">
                                <h6 class="mb-0 dropdown-user-name">Nome do usuário</h6>
                                <p>21/02/2021 às 16:20</p>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 pt-4">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="~/assets/img/cover.jpg" class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                        mollit anim id est laborum.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 p-3 bg-light radius-10 border">


                        <div class="d-flex justify-content-between">

                            <!-- Topo comentario -->
                            <div class="likes">1 curtida | 1 Comentário</div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-primary btn-sm"><i class="bi bi-heart"></i> Curtir</button>
                            </div>
                        </div>

                        <!-- Comentario Full -->
                        <div class="commentFull d-flex justify-content-between py-4">
                            <!-- Comentario Imagem -->
                            <a href="#">
                                <div class="commentImage d-flex align-items-center " style="margin-right: 10px;">
                                    <img src="https://via.placeholder.com/110X110" alt="" class="rounded-circle" width="34" height="34">
                                </div>
                            </a>
                            <!-- Comentario Texto-->
                            <div class=" bg-white radius-10 p-2">
                                <p class="commentName px-3 mb-0"><strong>Nome da pessoa</strong></p>
                                <p class="commentText px-3 pt-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </p>
                            </div>

                        </div>
                        <!-- Fim comentario -->
                        <!-- Comentario textarea-->
                        <div>
                            <div class="mb-3">
                                <label for="" class="form-label"></label>
                                <textarea class="form-control radius-10" placeholder="Escreva o seu comentário..."></textarea>
                            </div>
                            <div class="buttomComment d-flex justify-content-end ">
                                <button class="btn btn-primary btn-sm" type="submit">Enviar Comentário.</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card radius-10 w-100 overflow-hidden">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="d-flex align-items-center">
                            <img src="https://via.placeholder.com/110X110" alt="" class="rounded-circle" width="54" height="54">
                            <div class="ms-3">
                                <h6 class="mb-0 dropdown-user-name">Nome do usuário</h6>
                                <p>21/02/2021 às 16:20</p>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 pt-4">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="~/assets/img/cover.jpg" class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                        mollit anim id est laborum.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 p-3 bg-light radius-10 border">


                        <div class="d-flex justify-content-between">

                            <!-- Topo comentario -->
                            <div class="likes">1 curtida | 1 Comentário</div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-primary btn-sm"><i class="bi bi-heart"></i> Curtir</button>
                            </div>
                        </div>

                        <!-- Comentario Full -->
                        <div class="commentFull d-flex justify-content-between py-4">
                            <!-- Comentario Imagem -->
                            <a href="#">
                                <div class="commentImage d-flex align-items-center " style="margin-right: 10px;">
                                    <img src="https://via.placeholder.com/110X110" alt="" class="rounded-circle" width="34" height="34">
                                </div>
                            </a>
                            <!-- Comentario Texto-->
                            <div class=" bg-white radius-10 p-2">
                                <p class="commentName px-3 mb-0"><strong>Nome da pessoa</strong></p>
                                <p class="commentText px-3 pt-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </p>
                            </div>

                        </div>
                        <!-- Fim comentario -->
                        <!-- Comentario textarea-->
                        <div>
                            <div class="mb-3">
                                <label for="" class="form-label"></label>
                                <textarea class="form-control radius-10" placeholder="Escreva o seu comentário..."></textarea>
                            </div>
                            <div class="buttomComment d-flex justify-content-end ">
                                <button class="btn btn-primary btn-sm" type="submit">Enviar Comentário.</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>





    </div>
    <!--fim row-->

</main>
<!--fim main-->