 <!--inicio conteudo-->
<main class="page-content">

    <div class="profile-cover bg-dark">

    </div>

    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <h5 class="mb-0">Suas trilhas</h5>
                <form class="ms-auto position-relative">
                    <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-search"></i></div>
                    <input class="form-control ps-5" type="text" placeholder="Pesquisar trilhas">
                </form>
            </div>
            <div class="table-responsive mt-3">
                <table class="table align-middle">
                    <thead class="table-secondary">
                        <tr>
                            <th>#</th>
                            <th>Nome da trilha</th>
                            <th>Local</th>
                            <th>Data</th>
                            <th>Horário</th>
                            <th>Duração</th>
                            <th>Nivél</th>
                            <th>Ponto de encontro</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>
                                <div class="d-flex align-items-center gap-3 cursor-pointer">
                                    <img src="https://via.placeholder.com/110X110" class="rounded-circle" width="44" height="44" alt="">
                                    <div class="">
                                        <p class="mb-0">Praias Selvagens</p>
                                    </div>
                                </div>
                            </td>
                            <td>Barra de Guaratiba, Zona Oeste do Rio</td>
                            <td>18/09/2021</td>
                            <td>09:00h</td>
                            <td>04:30h</td>
                            <td>Moderado</td>
                            <td>BRT Pontal, Recreio</td>
                            <td>
                                <div class="table-actions d-flex align-items-center gap-3 fs-6">
                                    <a href="/trilhas/index" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Ver" aria-label="Ver"><i class="bi bi-eye-fill"></i></a>
                                    <a href="/trilhas/editartrilha" class="text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Editar" aria-label="Editar"><i class="bi bi-pencil-fill"></i></a>
                                    <a href="/trilhas/excluirtrilha" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Deletar" aria-label="Deletar"><i class="bi bi-trash-fill"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>
                                <div class="d-flex align-items-center gap-3 cursor-pointer">
                                    <img src="https://via.placeholder.com/110X110" class="rounded-circle" width="44" height="44" alt="">
                                    <div class="">
                                        <p class="mb-0">Pedra do Elefante (Alto Mourão)</p>
                                    </div>
                                </div>
                            </td>
                            <td>Itacoatiara, Niterói</td>
                            <td>18/09/2021</td>
                            <td>09:00</td>
                            <td>02:20h</td>
                            <td>Moderado</td>
                            <td>Noi, São Francisco, Niterói</td>
                            <td>
                                <div class="table-actions d-flex align-items-center gap-3 fs-6">
                                    <a href="/trilhas/index" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Ver" aria-label="Ver"><i class="bi bi-eye-fill"></i></a>
                                    <a href="/trilhas/editartrilha" class="text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Editar" aria-label="Editar"><i class="bi bi-pencil-fill"></i></a>
                                    <a href="/trilhas/excluirtrilha" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Deletar" aria-label="Deletar"><i class="bi bi-trash-fill"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>
                                <div class="d-flex align-items-center gap-3 cursor-pointer">
                                    <img src="https://via.placeholder.com/110X110" class="rounded-circle" width="44" height="44" alt="">
                                    <div class="">
                                        <p class="mb-0">Lorem ipslum</p>
                                    </div>
                                </div>
                            </td>
                            <td>Lorem ipslum</td>
                            <td>xx/xx/xxxx</td>
                            <td>09:00h</td>
                            <td>0X:x0h</td>
                            <td>Fácil</td>
                            <td>Lorem ipslum</td>
                            <td>
                                <div class="table-actions d-flex align-items-center gap-3 fs-6">
                                    <a href="/trilhas/index" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Ver" aria-label="Ver"><i class="bi bi-eye-fill"></i></a>
                                    <a href="/trilhas/editartrilha" class="text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Editar" aria-label="Editar"><i class="bi bi-pencil-fill"></i></a>
                                    <a href="/trilhas/excluirtrilha" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Deletar" aria-label="Deletar"><i class="bi bi-trash-fill"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>
                                <div class="d-flex align-items-center gap-3 cursor-pointer">
                                    <img src="https://via.placeholder.com/110X110" class="rounded-circle" width="44" height="44" alt="">
                                    <div class="">
                                        <p class="mb-0">Lorem ipslum</p>
                                    </div>
                                </div>
                            </td>
                            <td>Lorem ipslum</td>
                            <td>xx/xx/xxxx</td>
                            <td>09:00h</td>
                            <td>0X:x0h</td>
                            <td>Fácil</td>
                            <td>Lorem ipslum</td>
                            <td>
                                <div class="table-actions d-flex align-items-center gap-3 fs-6">
                                    <a href="/trilhas/index" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Ver" aria-label="Ver"><i class="bi bi-eye-fill"></i></a>
                                    <a href="/trilhas/editartrilha" class="text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Editar" aria-label="Editar"><i class="bi bi-pencil-fill"></i></a>
                                    <a href="/trilhas/excluirtrilha" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Deletar" aria-label="Deletar"><i class="bi bi-trash-fill"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>
                                <div class="d-flex align-items-center gap-3 cursor-pointer">
                                    <img src="https://via.placeholder.com/110X110" class="rounded-circle" width="44" height="44" alt="">
                                    <div class="">
                                        <p class="mb-0">Lorem ipslum</p>
                                    </div>
                                </div>
                            </td>
                            <td>Lorem ipslum</td>
                            <td>xx/xx/xxxx</td>
                            <td>09:00h</td>
                            <td>0X:x0h</td>
                            <td>Fácil</td>
                            <td>Lorem ipslum</td>
                            <td>
                                <div class="table-actions d-flex align-items-center gap-3 fs-6">
                                    <a href="/trilhas/index" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Ver" aria-label="Ver"><i class="bi bi-eye-fill"></i></a>
                                    <a href="/trilhas/editartrilha" class="text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Editar" aria-label="Editar"><i class="bi bi-pencil-fill"></i></a>
                                    <a href="/trilhas/excluirtrilha" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Deletar" aria-label="Deletar"><i class="bi bi-trash-fill"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>
                                <div class="d-flex align-items-center gap-3 cursor-pointer">
                                    <img src="https://via.placeholder.com/110X110" class="rounded-circle" width="44" height="44" alt="">
                                    <div class="">
                                        <p class="mb-0">Lorem ipslum</p>
                                    </div>
                                </div>
                            </td>
                            <td>Lorem ipslum</td>
                            <td>xx/xx/xxxx</td>
                            <td>09:00h</td>
                            <td>0X:x0h</td>
                            <td>Fácil</td>
                            <td>Lorem ipslum</td>
                            <td>
                                <div class="table-actions d-flex align-items-center gap-3 fs-6">
                                    <a href="/trilhas/index" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Ver" aria-label="Ver"><i class="bi bi-eye-fill"></i></a>
                                    <a href="/trilhas/editartrilha" class="text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Editar" aria-label="Editar"><i class="bi bi-pencil-fill"></i></a>
                                    <a href="/trilhas/excluirtrilha" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Deletar" aria-label="Deletar"><i class="bi bi-trash-fill"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>
                                <div class="d-flex align-items-center gap-3 cursor-pointer">
                                    <img src="https://via.placeholder.com/110X110" class="rounded-circle" width="44" height="44" alt="">
                                    <div class="">
                                        <p class="mb-0">Lorem ipslum</p>
                                    </div>
                                </div>
                            </td>
                            <td>Lorem ipslum</td>
                            <td>xx/xx/xxxx</td>
                            <td>09:00h</td>
                            <td>0X:x0h</td>
                            <td>Fácil</td>
                            <td>Lorem ipslum</td>
                            <td>
                                <div class="table-actions d-flex align-items-center gap-3 fs-6">
                                    <a href="/trilhas/index" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Ver" aria-label="Ver"><i class="bi bi-eye-fill"></i></a>
                                    <a href="/trilhas/editartrilha" class="text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Editar" aria-label="Editar"><i class="bi bi-pencil-fill"></i></a>
                                    <a href="/trilhas/excluirtrilha" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Deletar" aria-label="Deletar"><i class="bi bi-trash-fill"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>
                                <div class="d-flex align-items-center gap-3 cursor-pointer">
                                    <img src="https://via.placeholder.com/110X110" class="rounded-circle" width="44" height="44" alt="">
                                    <div class="">
                                        <p class="mb-0">Lorem ipslum</p>
                                    </div>
                                </div>
                            </td>
                            <td>Lorem ipslum</td>
                            <td>xx/xx/xxxx</td>
                            <td>09:00h</td>
                            <td>0X:x0h</td>
                            <td>Fácil</td>
                            <td>Lorem ipslum</td>
                            <td>
                                <div class="table-actions d-flex align-items-center gap-3 fs-6">
                                    <a href="/trilhas/index" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Ver" aria-label="Ver"><i class="bi bi-eye-fill"></i></a>
                                    <a href="/trilhas/editartrilha" class="text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Editar" aria-label="Editar"><i class="bi bi-pencil-fill"></i></a>
                                    <a href="/trilhas/excluirtrilha" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Deletar" aria-label="Deletar"><i class="bi bi-trash-fill"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>
                                <div class="d-flex align-items-center gap-3 cursor-pointer">
                                    <img src="https://via.placeholder.com/110X110" class="rounded-circle" width="44" height="44" alt="">
                                    <div class="">
                                        <p class="mb-0">Lorem ipslum</p>
                                    </div>
                                </div>
                            </td>
                            <td>Lorem ipslum</td>
                            <td>xx/xx/xxxx</td>
                            <td>09:00h</td>
                            <td>0X:x0h</td>
                            <td>Fácil</td>
                            <td>Lorem ipslum</td>
                            <td>
                                <div class="table-actions d-flex align-items-center gap-3 fs-6">
                                    <a href="/trilhas/index" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Ver" aria-label="Ver"><i class="bi bi-eye-fill"></i></a>
                                    <a href="/trilhas/editartrilha" class="text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Editar" aria-label="Editar"><i class="bi bi-pencil-fill"></i></a>
                                    <a href="/trilhas/excluirtrilha" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Deletar" aria-label="Deletar"><i class="bi bi-trash-fill"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>
                                <div class="d-flex align-items-center gap-3 cursor-pointer">
                                    <img src="https://via.placeholder.com/110X110" class="rounded-circle" width="44" height="44" alt="">
                                    <div class="">
                                        <p class="mb-0">Lorem ipslum</p>
                                    </div>
                                </div>
                            </td>
                            <td>Lorem ipslum</td>
                            <td>xx/xx/xxxx</td>
                            <td>09:00h</td>
                            <td>0X:x0h</td>
                            <td>Fácil</td>
                            <td>Lorem ipslum</td>
                            <td>
                                <div class="table-actions d-flex align-items-center gap-3 fs-6">
                                    <a href="/trilhas/index" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Ver" aria-label="Ver"><i class="bi bi-eye-fill"></i></a>
                                    <a href="/trilhas/editartrilha" class="text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Editar" aria-label="Editar"><i class="bi bi-pencil-fill"></i></a>
                                    <a href="/trilhas/excluirtrilha" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Deletar" aria-label="Deletar"><i class="bi bi-trash-fill"></i></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <!--fimd row-->
    <div class="row">
        <div class="text-end">
            <a href="\feed\index"><button type="button" class="btn btn-outline-secondary px-4">Voltar</button></a>
        </div>
    </div>

</main>
<!--fim main-->