<!--inicio conteudo-->
<main class="page-content">

    <div class="profile-cover bg-dark">

    </div>
    <div class="col-12 col-lg-9 mx-auto">
        <div class="card shadow-sm border-0">

            <div class="card-body" style=" background-color: #f9f9f9;">
                <h5 class="mb-0">Trilhas Confirmadas</h5>

                <div class="container mt-4">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card card-margin">
                                <div class="card-header no-border">
                                    <h5 class="card-title">Nome da trilha</h5>
                                </div>
                                <div class="card-body pt-0">
                                    <div class="widget-49 mt-2">
                                        <div class="widget-49-title-wrapper">
                                            <div class="widget-49-date-primary">
                                                <span class="widget-49-date-day">18</span>
                                                <span class="widget-49-date-month">Set</span>
                                            </div>
                                            <div class="widget-49-meeting-info">
                                                <span class="widget-49-pro-title">Rio de Janeiro</span>
                                                <span class="widget-49-meeting-time">19:00h</span>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        </p>
                                        <div class="widget-49-meeting-action">
                                            <a href="/trilhas/index"> <button class="btn btn-primary btn-sm" type="submit">Ver trilha</button> </a>
                                            <button class="btn btn-outline-secondary btn-sm" type="submit">Não participar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card card-margin">
                                <div class="card-header no-border">
                                    <h5 class="card-title">Nome da trilha</h5>
                                </div>
                                <div class="card-body pt-0">
                                    <div class="widget-49 mt-2">
                                        <div class="widget-49-title-wrapper">
                                            <div class="widget-49-date-primary">
                                                <span class="widget-49-date-day">21</span>
                                                <span class="widget-49-date-month">Set</span>
                                            </div>
                                            <div class="widget-49-meeting-info">
                                                <span class="widget-49-pro-title">Niteroí, RJ</span>
                                                <span class="widget-49-meeting-time">09:00h</span>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        </p>
                                        <div class="widget-49-meeting-action">
                                            <a href="/trilhas/index"> <button class="btn btn-primary btn-sm" type="submit">Ver trilha</button> </a>
                                            <button class="btn btn-outline-secondary btn-sm" type="submit">Não participar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card card-margin">
                                <div class="card-header no-border">
                                    <h5 class="card-title">Nome da trilha</h5>
                                </div>
                                <div class="card-body pt-0">
                                    <div class="widget-49 mt-2">
                                        <div class="widget-49-title-wrapper">
                                            <div class="widget-49-date-primary">
                                                <span class="widget-49-date-day">25</span>
                                                <span class="widget-49-date-month">Set</span>
                                            </div>
                                            <div class="widget-49-meeting-info">
                                                <span class="widget-49-pro-title">Teresópolis, RJ</span>
                                                <span class="widget-49-meeting-time">11:00h</span>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        </p>
                                        <div class="widget-49-meeting-action">
                                            <a href="/trilhas/index"> <button class="btn btn-primary btn-sm" type="submit">Ver trilha</button> </a>
                                            <button class="btn btn-outline-secondary btn-sm" type="submit">Não participar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card card-margin">
                                <div class="card-header no-border">
                                    <h5 class="card-title">Nome da trilha</h5>
                                </div>
                                <div class="card-body pt-0">
                                    <div class="widget-49 mt-2">
                                        <div class="widget-49-title-wrapper">
                                            <div class="widget-49-date-primary">
                                                <span class="widget-49-date-day">18</span>
                                                <span class="widget-49-date-month">Set</span>
                                            </div>
                                            <div class="widget-49-meeting-info">
                                                <span class="widget-49-pro-title">Rio de Janeiro</span>
                                                <span class="widget-49-meeting-time">19:00h</span>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        </p>
                                        <div class="widget-49-meeting-action">
                                            <a href="/trilhas/index"> <button class="btn btn-primary btn-sm" type="submit">Ver trilha</button> </a>
                                            <button class="btn btn-outline-secondary btn-sm" type="submit">Não participar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card card-margin">
                                <div class="card-header no-border">
                                    <h5 class="card-title">Nome da trilha</h5>
                                </div>
                                <div class="card-body pt-0">
                                    <div class="widget-49 mt-2">
                                        <div class="widget-49-title-wrapper">
                                            <div class="widget-49-date-primary">
                                                <span class="widget-49-date-day">21</span>
                                                <span class="widget-49-date-month">Set</span>
                                            </div>
                                            <div class="widget-49-meeting-info">
                                                <span class="widget-49-pro-title">Niteroí, RJ</span>
                                                <span class="widget-49-meeting-time">09:00h</span>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        </p>
                                        <div class="widget-49-meeting-action">
                                            <a href="/trilhas/index"> <button class="btn btn-primary btn-sm" type="submit">Ver trilha</button> </a>
                                            <button class="btn btn-outline-secondary btn-sm" type="submit">Não participar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card card-margin">
                                <div class="card-header no-border">
                                    <h5 class="card-title">Nome da trilha</h5>
                                </div>
                                <div class="card-body pt-0">
                                    <div class="widget-49 mt-2">
                                        <div class="widget-49-title-wrapper">
                                            <div class="widget-49-date-primary">
                                                <span class="widget-49-date-day">25</span>
                                                <span class="widget-49-date-month">Set</span>
                                            </div>
                                            <div class="widget-49-meeting-info">
                                                <span class="widget-49-pro-title">Teresópolis, RJ</span>
                                                <span class="widget-49-meeting-time">11:00h</span>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        </p>
                                        <div class="widget-49-meeting-action">
                                            <a href="/trilhas/index"> <button class="btn btn-primary btn-sm" type="submit">Ver trilha</button> </a>
                                            <button class="btn btn-outline-secondary btn-sm" type="submit">Não participar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card card-margin">
                                <div class="card-header no-border">
                                    <h5 class="card-title">Nome da trilha</h5>
                                </div>
                                <div class="card-body pt-0">
                                    <div class="widget-49 mt-2">
                                        <div class="widget-49-title-wrapper">
                                            <div class="widget-49-date-primary">
                                                <span class="widget-49-date-day">18</span>
                                                <span class="widget-49-date-month">Set</span>
                                            </div>
                                            <div class="widget-49-meeting-info">
                                                <span class="widget-49-pro-title">Rio de Janeiro</span>
                                                <span class="widget-49-meeting-time">19:00h</span>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        </p>
                                        <div class="widget-49-meeting-action">
                                            <a href="/trilhas/index"> <button class="btn btn-primary btn-sm" type="submit">Ver trilha</button> </a>
                                            <button class="btn btn-outline-secondary btn-sm" type="submit">Não participar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card card-margin">
                                <div class="card-header no-border">
                                    <h5 class="card-title">Nome da trilha</h5>
                                </div>
                                <div class="card-body pt-0">
                                    <div class="widget-49 mt-2">
                                        <div class="widget-49-title-wrapper">
                                            <div class="widget-49-date-primary">
                                                <span class="widget-49-date-day">21</span>
                                                <span class="widget-49-date-month">Set</span>
                                            </div>
                                            <div class="widget-49-meeting-info">
                                                <span class="widget-49-pro-title">Niteroí, RJ</span>
                                                <span class="widget-49-meeting-time">09:00h</span>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        </p>
                                        <div class="widget-49-meeting-action">
                                            <a href="/trilhas/index"> <button class="btn btn-primary btn-sm" type="submit">Ver trilha</button> </a>
                                            <button class="btn btn-outline-secondary btn-sm" type="submit">Não participar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card card-margin">
                                <div class="card-header no-border">
                                    <h5 class="card-title">Nome da trilha</h5>
                                </div>
                                <div class="card-body pt-0">
                                    <div class="widget-49 mt-2">
                                        <div class="widget-49-title-wrapper">
                                            <div class="widget-49-date-primary">
                                                <span class="widget-49-date-day">25</span>
                                                <span class="widget-49-date-month">Set</span>
                                            </div>
                                            <div class="widget-49-meeting-info">
                                                <span class="widget-49-pro-title">Teresópolis, RJ</span>
                                                <span class="widget-49-meeting-time">11:00h</span>
                                            </div>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        </p>
                                        <div class="widget-49-meeting-action">
                                            <a href="/trilhas/index"> <button class="btn btn-primary btn-sm" type="submit">Ver trilha</button> </a>
                                            <button class="btn btn-outline-secondary btn-sm" type="submit">Não participar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="text-end mt-4">
                            <a href="/feed/index"><button type="button" class="btn btn-outline-secondary px-4">Voltar</button></a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!--fim row-->

</main>
<!--fim main-->
