<!--inicio content-->
<main class="page-content">


    <div class="row py-5">

        <div class="row py-5">
            <div class="col-10 col-lg-9 col-xl-9 col-xxl-9 d-flex justify-content-between mx-auto">
                <a href="/feed/index">
                    <div>
                        <h5 class="border radius-10 p-3 primary-dc"><i class="bi bi-people-fill primary-dc"></i> Home</h5>
                    </div>
                </a>
                <a href="/trilhas/trilhasconfirmadas">
                    <div>
                        <h5 class="border radius-10 p-3 primary-dc"><i class="bi bi-card-checklist primary-dc"></i> Trilha confirmadas</h5>
                    </div>
                </a>
                <div>
                    <a href="/trilhas/criartrilha">
                        <h5 class="border radius-10 p-3 primary-dc"><i class="bi bi-compass-fill primary-dc"></i> Criar trilha</h5>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <!--fim row-->
    <!--amigos-->
    <div class="row">

        <div class="col-10 col-lg-9 col-xl-9 col-xxl-98 d-flex  mx-auto">
            <div class="col-12 col-lg-6 col-xl-6 col-xxl-6  px-2">
                <div class="card radius-10">
                    <a href="/perfil/perfilexterno">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <img src="~/assets/img/cover.jpg" class="rounded-circle p-1 border" width="90" height="90" alt="...">
                                <div class="flex-grow-1 ms-3">
                                    <h5 class="mt-0">Nome do amigo</h5>
                                    <div class="pt-3">
                                        <button type="button" class="btn btn-secondary btn-sm px-4 mr-5">Remover</button>
                                        <button type="button" class="btn btn-outline-secondary btn-sm px-4">Bloquear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-12 col-lg-6 col-xl-6 col-xxl-6  px-2  mx-auto">
                <div class="card radius-10">
                    <a href="/perfil/perfilexterno">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <img src="~/assets/img/cover.jpg" class="rounded-circle p-1 border" width="90" height="90" alt="...">
                                <div class="flex-grow-1 ms-3">
                                    <h5 class="mt-0">Nome do amigo</h5>
                                    <div class="pt-3">
                                        <button type="button" class="btn btn-secondary btn-sm px-4 mr-5">Remover</button>
                                        <button type="button" class="btn btn-outline-secondary btn-sm px-4">Bloquear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
    <!--fim row-->
    <!--amigos-->
    <div class="row">

        <div class="col-10 col-lg-9 col-xl-9 col-xxl-98 d-flex  mx-auto">
            <div class="col-12 col-lg-6 col-xl-6 col-xxl-6  px-2">
                <div class="card radius-10">
                    <a href="/perfil/perfilexterno">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <img src="~/assets/img/cover.jpg" class="rounded-circle p-1 border" width="90" height="90" alt="...">
                                <div class="flex-grow-1 ms-3">
                                    <h5 class="mt-0">Nome do amigo</h5>
                                    <div class="pt-3">
                                        <button type="button" class="btn btn-secondary btn-sm px-4 mr-5">Remover</button>
                                        <button type="button" class="btn btn-outline-secondary btn-sm px-4">Bloquear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-12 col-lg-6 col-xl-6 col-xxl-6  px-2  mx-auto">
                <div class="card radius-10">
                    <a href="/perfil/perfilexterno">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <img src="~/assets/img/cover.jpg" class="rounded-circle p-1 border" width="90" height="90" alt="...">
                                <div class="flex-grow-1 ms-3">
                                    <h5 class="mt-0">Nome do amigo</h5>
                                    <div class="pt-3">
                                        <button type="button" class="btn btn-secondary btn-sm px-4 mr-5">Remover</button>
                                        <button type="button" class="btn btn-outline-secondary btn-sm px-4">Bloquear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
    <!--fim row-->
    <!--amigos-->
    <div class="row">

        <div class="col-10 col-lg-9 col-xl-9 col-xxl-98 d-flex  mx-auto">
            <div class="col-12 col-lg-6 col-xl-6 col-xxl-6  px-2">
                <div class="card radius-10">
                    <a href="/perfil/perfilexterno">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <img src="~/assets/img/cover.jpg" class="rounded-circle p-1 border" width="90" height="90" alt="...">
                                <div class="flex-grow-1 ms-3">
                                    <h5 class="mt-0">Nome do amigo</h5>
                                    <div class="pt-3">
                                        <button type="button" class="btn btn-secondary btn-sm px-4 mr-5">Remover</button>
                                        <button type="button" class="btn btn-outline-secondary btn-sm px-4">Bloquear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-12 col-lg-6 col-xl-6 col-xxl-6  px-2  mx-auto">
                <div class="card radius-10">
                    <a href="/perfil/perfilexterno">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <img src="~/assets/img/cover.jpg" class="rounded-circle p-1 border" width="90" height="90" alt="...">
                                <div class="flex-grow-1 ms-3">
                                    <h5 class="mt-0">Nome do amigo</h5>
                                    <div class="pt-3">
                                        <button type="button" class="btn btn-secondary btn-sm px-4 mr-5">Remover</button>
                                        <button type="button" class="btn btn-outline-secondary btn-sm px-4">Bloquear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
    <!--fim row-->
    <!--amigos-->
    <div class="row">

        <div class="col-10 col-lg-9 col-xl-9 col-xxl-98 d-flex  mx-auto">
            <div class="col-12 col-lg-6 col-xl-6 col-xxl-6  px-2">
                <div class="card radius-10">
                    <a href="/perfil/perfilexterno">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <img src="~/assets/img/cover.jpg" class="rounded-circle p-1 border" width="90" height="90" alt="...">
                                <div class="flex-grow-1 ms-3">
                                    <h5 class="mt-0">Nome do amigo</h5>
                                    <div class="pt-3">
                                        <button type="button" class="btn btn-secondary btn-sm px-4 mr-5">Remover</button>
                                        <button type="button" class="btn btn-outline-secondary btn-sm px-4">Bloquear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-12 col-lg-6 col-xl-6 col-xxl-6  px-2  mx-auto">
                <div class="card radius-10">
                    <a href="/perfil/perfilexterno">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <img src="~/assets/img/cover.jpg" class="rounded-circle p-1 border" width="90" height="90" alt="...">
                                <div class="flex-grow-1 ms-3">
                                    <h5 class="mt-0">Nome do amigo</h5>
                                    <div class="pt-3">
                                        <button type="button" class="btn btn-secondary btn-sm px-4 mr-5">Remover</button>
                                        <button type="button" class="btn btn-outline-secondary btn-sm px-4">Bloquear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
    <!--fim row-->


</main>
<!--fim  main-->