@model Domain.Entidade.Request.CreatePessoa;
@{
    Layout = "~/Views/Shared/_LayoutDeslogado.cshtml";
}
<!--incio wrapper-->
<!--incio conteudo-->
<main class="authentication-content mt-md-5">
    <div class="container">
        <div class="mt-4">
            <div class="card rounded-0 overflow-hidden shadow-none border mb-5 mb-lg-0">
                <div class="row g-0">
                    <div class="col-12 order-1 col-xl-8 d-flex align-items-center justify-content-center border-end">
                        <img src="~/assets/img/cover.jpg" class="img-fluid" alt="" style="width: 100%;">
                    </div>
                    <div class="col-12 col-xl-4 order-xl-2">
                        <div class="card-body p-4 p-sm-5">
                            <h5 class="card-title">Seja bem-vindo</h5>
                            <p class="card-text mb-4">Venha trilhar novos caminhos!</p>
                            <form class="form-body" method="post" asp-action="efetuaLogin">
                                <div class="row g-3">
                                    <div class="col-12">
                                        <label asp-for="Email" class="form-label"></label>
                                        <div class="ms-auto position-relative">
                                            <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-envelope-fill"></i></div>
                                            <input asp-for="Email" name="Email" class="form-control  ps-5" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label asp-for="Senha" class="form-label"></label>
                                        <div class="ms-auto position-relative">
                                            <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-lock-fill"></i></div>
                                            <input asp-for="Senha" name="Senha" class="form-control  ps-5" placeholder="Senha">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <a asp-action="RecuperarSenha">
                                            <i class="bi bi-question-circle"></i> Esqueceu sua senha?
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <div class="d-grid">
                                            <input type="submit" class="btn btn-primary" value="Entrar" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="col-12 text-center">
                                <p class="mb-0">Não tem uma conta ainda? <a asp-action="Registro">Cadastra-se aqui</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!--fim conteudo-->
<!--fim wrapper-->