@model Domain.Entidade.Request.CreatePessoa;
@{
    Layout = "~/Views/Shared/_LayoutDeslogado.cshtml";
    var validar = ViewBag.validar;
}
@section Scripts
    {
    <script src="~/assets/plugins/datetimepicker/js/picker.js" asp-fallback-src="~/assets/plugins/datetimepicker/js/picker.js" asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"></script>
    <script src="~/assets/plugins/datetimepicker/js/picker.time.js" asp-fallback-src="~/assets/plugins/datetimepicker/js/picker.time.js" asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"></script>
    <script src="~/assets/plugins/datetimepicker/js/picker.date.js" asp-fallback-src="~/assets/plugins/datetimepicker/js/picker.date.js" asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"></script>
    <script src="~/assets/plugins/bootstrap-material-datetimepicker/js/moment.min.js" asp-fallback-src="~/assets/plugins/bootstrap-material-datetimepicker/js/moment.min.js" asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"></script>
    <script src="~/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.min.js" asp-fallback-src="~/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.min.js" asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"></script>
    <script src="~/assets/plugins/fancy-file-uploader/jquery.fileupload.js" asp-fallback-src="~/assets/plugins/fancy-file-uploader/jquery.fileupload.js" asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"></script>
    <script src="~/assets/plugins/fancy-file-uploader/jquery.fancy-fileupload.js" asp-fallback-src="~/assets/plugins/fancy-file-uploader/jquery.fancy-fileupload.js" asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"></script>
    <script src="~/assets/plugins/Drag-And-Drop/dist/imageuploadify.min.js" asp-fallback-src="~/assets/plugins/Drag-And-Drop/dist/imageuploadify.min.js" asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"></script>
    <script src="~/assets/js/form-file-upload.js" asp-fallback-src="~/assets/js/form-file-upload.js" asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"></script>
    <script src="~/assets/js/form-date-time-pickes.js" asp-fallback-src="~/assets/js/form-date-time-pickes.js" asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"></script>
}
<!--inicio content-->
<main class="mt-md-5">
    <div class="container">
        <div class="mt-4">
            <!--inicio row-->
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <div class="border p-4 rounded">

                            <div class="card-title d-flex align-items-center">
                                <h5 class="mb-0">Registro do usuário.</h5>
                            </div>
                            <hr />
                            <form asp-action="Registro" method="post">
                                <div class="row mb-3">
                                    <label asp-for="Nome" class="col-sm-3 col-form-label"></label>
                                    <div class="col-sm-9">
                                        <input asp-for="Nome" name="Nome" class="form-control" placeholder="Digite seu nome">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label asp-for="Email" class="col-sm-3 col-form-label"></label>
                                    <div class="col-sm-9">
                                        <input asp-for="Email" name="Email" type="email" class="form-control" placeholder="Digite seu email">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label asp-for="DataNascimento" class="col-sm-3 col-form-label">Data de nascimento</label>
                                    <div class="col-sm-9">
                                        <input asp-for="DataNascimento" name="DataNascimento" type="date" class="form-control input-group date" data-provide="datepicker" id="usuarioNascimento" placeholder="Entre com sua data de nascimento">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label asp-for="Senha" class="col-sm-3 col-form-label"></label>
                                    <div class="col-sm-9">
                                        <input asp-for="Senha" name="Senha" type="text" class="form-control" id="usuarioSenha" placeholder="Digite uma senha">
                                    </div>
                                </div>

                                @*<div class="row mb-3 d-none">
                                        <label for="usuarioSenha" class="col-sm-3 col-form-label">Confirme a senha</label>
                                        <div class="col-sm-9">
                                            <input name="senhaRepetida" type="text" class="form-control" id="usuarioSenha" placeholder="Repita a senha escolhida">
                                        </div>
                                    </div>*@

                                <div class="row">
                                    <label class="col-sm-3 col-form-label"></label>
                                    <div class="col-sm-9">
                                        <input type="submit" class="btn btn-primary px-5" value="Cadastrar">
                                    </div>
                                </div>
                                @{
                                    if (validar != null)
                                    {
                                        <div class="row">
                                            <div class="col-sm-9">
                                                <p class="text-danger">@validar</p>
                                            </div>
                                        </div>
                                    }
                                }
                            </form>

                            <div class="col-12  pt-4 text-end">
                                <a asp-action="Login">Voltar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--fim row-->
        </div>
    </div>
</main>
<!--fim  main-->
